on init
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

# Migrate tasks again in case kernel threads are created during boot
on property:sys.boot_completed=1
    copy_per_line /dev/cpuctl/tasks /dev/cpuctl/system/tasks

    on property:vendor.post_boot.parsed=1
    exec u:r:vendor_qti_init_shell:s0 -- /vendor/bin/init.topaz_perf.sh

    # Configure uclamp
    write /dev/cpuctl/top-app/cpu.uclamp.min 1.00
    write /dev/cpuctl/foreground/cpu.uclamp.min 0.00
    write /dev/cpuctl/background/cpu.uclamp.max 512
    write /dev/cpuctl/system-background/cpu.uclamp.max 512
    write /dev/cpuctl/dex2oat/cpu.uclamp.max 615
    # Setup cpu.shares to throttle background groups (bg ~ 5% sysbg ~ 5% dex2oat ~2.5%)
    write /dev/cpuctl/background/cpu.shares 1024
    write /dev/cpuctl/system-background/cpu.shares 1024
    write /dev/cpuctl/dex2oat/cpu.shares 512
    write /dev/cpuctl/system/cpu.shares 20480
    # We only have system and background groups holding tasks and the groups below are empty
    write /dev/cpuctl/camera-daemon/cpu.shares 20480
    write /dev/cpuctl/foreground/cpu.shares 20480
    write /dev/cpuctl/nnapi-hal/cpu.shares 20480
    write /dev/cpuctl/rt/cpu.shares 20480
    write /dev/cpuctl/top-app/cpu.shares 20480

    on init
    # Boot time uclamp tuning
    write /dev/cpuctl/top-app/cpu.uclamp.min 15.90
    write /dev/cpuctl/foreground/cpu.uclamp.min 15.90
    write /dev/cpuctl/system/cpu.uclamp.min 15.90
    write /dev/cpuctl/nnapi-hal/cpu.uclamp_min 51.20
    # RT uclamp setting
    write /proc/sys/kernel/sched_util_clamp_min_rt_default 0
